<%- include header%>
   <form method='post'>
   		<p><label for='username'>用户名：</label><input type='text' name='name'></p>
   		<p><label for='password'>密码：</label><input type='password' name='password'></p>
   		<p><input type='submit' value='登录'></p>
   </form>
   <a href="/login/github">使用Github登录</a>
<%- include footer%>