<%- include header%>
<form method='post'>
	<h2>标题</h2>
	<input type='text' name='title'>
	<br />
	标签：<br />
	<input type='text' name='tag1' /><input type='text' name='tag2' /><input type='text' name='tag3'><br />
	<h4>正文</h4>
	<textarea name='post' rows='20' cols='100'>

	</textarea>
	<input type='submit' value='发表'>
</form>
<%- include footer%>